.page__content {
    font-size: 18px;
}

.masthead {
    font-size: 22px !important;
}

.author__avatar img {
    max-width: 170px !important;
}

.sidebar-inner {
    background-color: #cce7ff;
    /* light blue */
}