.page__content {
    font-size: 18px;
}

.masthead {
    font-size: 22px !important;
}

.author__avatar img {
    max-width: 170px !important;
}

@media (min-width: 64em) {
    .page {
        float: inline-end;
        padding-inline-end: 0;
    }
}

a {
    color: black;
    font-weight: bold;
}