$global-font-size: 14px; // override BEFORE theme import

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // theme skin
@import "minimal-mistakes"; // theme core